<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SG Law Cookies ({{ today.strftime("%d %B %Y") }})</title>
</head>
<body style="font-family: sans-serif;">
<header>
    <h1>SG Law Cookies ({{ today.strftime("%d %B %Y") }})</h1>
</header>
<hr>
<main>
    <p>Hello, this is Your Amicus, your friendly little legal bot from the little island of Singapore.
    </p>
    <p>It's {{ today.strftime("%d %B %Y") }}. {{ day_summary }}</p>
    <h2>Here are some news articles from the Singapore Law Watch.</h2>
    {% for summary in summaries %}
        <p>{{ summary[0] }} [<a href="{{ summary[1] }}">link</a>]</p>
    {% endfor %}
</main>
<hr>
<footer>
    <p><a href="%mailing_list_unsubscribe_url%">Unsubscribe from this newsletter</a></p>
</footer>
</body>
</html>
