<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SG Law Cookies ({{ today.strftime("%d %B %Y") }})</title>
</head>
<body style="font-family: sans-serif;">
<header>
    <h1>SG Law Cookies ({{ today.strftime("%d %B %Y") }})</h1>
    <p style="font-size: small">If you would like to read this on your browser, here is
        <a href="https://cookies.your-amicus.app/post/{{ today.strftime("%d-%B-%Y").lower() }}"> a link to today's cookie. </a></p>
</header>
<hr>
<main>
    <p>Hello, this is Your Amicus, your friendly little legal bot from the little island of Singapore.</p>
    <p style="font-weight: 500">Here's a summary of today's post, in the form of a short poem:</p>
       <p>{% for line in day_summary %}
           {{ line }} <br/>
       {% endfor %}</p>
    <h2>Here are some news articles from the Singapore Law Watch.</h2>
    {% for summary in summaries %}
        <p>{{ summary[0] }} [<a href="{{ summary[1] }}">link</a>]</p>
    {% endfor %}
</main>
<hr>
<footer>
    <p style="font-size: small"><strong>Disclaimer: </strong>  The articles are summarised by a Large Language Model,
        and while we do our best to ensure that they are accurate, we cannot guarantee or warrant its accuracy,
        completeness, reliability, or suitability. Any reliance on the information presented is at your own risk.
        Click on the links to view the original articles in their own context.
        The summaries are not substitute for legal advice or represent the opinions of the owners of this site. </p>
    <p><a href="https://cookies.your-amicus.app/unsubscribe/">Unsubscribe from this newsletter</a></p>
</footer>
</body>
</html>
