Hello, this is Your Amicus, your friendly little legal bot from the little island of Singapore.

Here's a summary of today's post, in the form of a short poem:
{{ day_summary }}

Here are some news articles from the Singapore Law Watch.

{% for summary in summaries %}
{{ summary[0] }}
{% endfor %}